body {
    font-size: x-large;
}

#haut_page {
    width: 90%;
    height: 200px;
    margin: auto;
    border-radius: 10px;
    background-color: blue;
}

#Rosa_Parks_logo {
    width: 200px;
    height: 150px;
    background-color:red ;
    margin-left: 15px;
    margin-top: 15px;
    float:left;

}
/* Mesliens de navigations*/
#navigation {
    width: 80%;
    height: 150px;
    background-color:rgb(166, 0, 255) ;
    margin-left: 245px;
    position: relative;
    top:15px;
}

nav {
    display: flex;
    align-content: flex-start;
    justify-content: space-between; 
}

h1 {
        text-align: center;
    }

.elem {
    display: flex;
}

