body {
    font-size: x-large;
}


nav {
    display: flex;
    align-content: flex-start;
    justify-content: space-between; 
}

.container-text {
    border: 20px solid blue;
    display: flexbox;
    align-items: flex-end;

    
}